@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap");

:root {
  --primary-color: #075985;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #d8d8d8;
  font-family: "Work Sans", sans-serif;
}
nav {
  height: 5rem;
  max-width: 70rem;
  width: 100%;
  margin: auto;
  background-color: var(--primary-color);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
nav{
  margin-bottom: 4rem;
}
.nav-heading {
  color: #fff;
  text-align: center;
  padding-top: 1.5rem;
  font-size: 2rem;
}
.main-heading {
  font-size: 2rem;
  padding-top: 3rem;
}
main {
  text-align: center;
  max-width: 430px;
  margin: auto;
  background-color: #fff;
  height: 420px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

label {
  display: inline-block;
  margin: 1rem;
  font-size: larger;
  padding: 1rem;
}
input {
  max-width: 240px;
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 1rem;
}

#check-btn {
  display: block;
  max-width: 220px;
  width: 100%;
  margin: 1rem auto;
  padding: 1rem;
  border: none;
  background-color: var(--primary-color);
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 2px;
}

#result {
  padding: 1.5rem;
  text-align: center;
  font-size: 1.5rem;
}

.list-non-bullet {
  list-style: none;
  padding-inline-start: 2px;
}

.list-item-inline {
  display: inline;
}

.link {
  text-decoration: none;
  padding: 0.4rem 0.8rem;
}

/* --------------------FOOTER  --------------------*/

footer {
  margin-top: 2rem;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
}

footer p {
  margin-top: 2.5rem;
  padding-top: 1.5rem;
  font-size: 1.2rem;
  color: var(--primary-color);
}
li {
  display: inline;
}
a {
  text-decoration: none;
}

img {
  width: 3.5rem;
  margin-top: 1rem;
  margin-right: 1rem;
  margin-bottom: 2.2rem;
}

@media (max-width: 425px) {
  nav {
    height: 5.5rem;
  }
  .nav-heading {
    padding-top: 1.38rem;
    font-size: 1.5rem;
  }
  img {
    width: 2.5rem;
    margin-right: 0.1rem;
  }
  nav h1 {
    letter-spacing: 3px;
    font-size: 1.4rem;
    padding-top: 2rem;
  }
  #result {
    padding: 0.8rem;
    text-align: center;
    font-size: 1.3rem;
  }
}
